/* =============== all links ================ */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* =============== all links ================ */

*{
    font-family: "Montserrat", serif;
    padding: 0;
    margin: 0;
    outline: none;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}

/* =============== navbar start ======================= */
.navbar{
    background-color: transparent;
}
.navbar ul li {
    padding: 0 10px;
}
.navbar ul li a{
    color: white !important;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: .2s ease-in-out;
}
.navbar ul li a:hover{
    color: #686868 !important;
}

.navbar .navbar_row{
    padding: 0 30px;
    width: 1770px !important;
    height: 160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.navbar-toggler{
    background-color: rgba(255, 255, 255, 0.601);
}
/* =============== navbar end ======================= */


.main .item1{
    width: 100%;
    height: 100vh;
    background-image: url(../images/revslide01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main .item2{
    width: 100%;
    height: 100vh;
    background-image: url(../images/revslide02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main .item3{
    width: 100%;
    height: 100vh;
    background-image: url(../images/revslide03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main .item4{
    width: 100%;
    height: 100vh;
    background-image: url(../images/revslide04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main .item5{
    width: 100%;
    height: 100vh;
    background-image: url(../images/revslide05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main .item6{
    width: 100%;
    height: 100vh;
    background-image: url(../images/revslide06.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main .item7{
    width: 100%;
    height: 100vh;
    background-image: url(../images/revslide07.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main .item8{
    width: 100%;
    height: 100vh;
    background-image: url(../images/revslide08.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .item9{
    width: 100%;
    height: 100vh;
    background-image: url(../images/revslide09.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main .item10{
    width: 100%;
    height: 100vh;
    background-image: url(../images/revslide10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .slick-prev{
    position: absolute;
    top: 75%;
    right: 60px;
    z-index: 999;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
}
.main .slick-next{
    position: absolute;
    top: 75%;
    right: 100px;
    z-index: 999;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
}
.main .item h1{
        z-index: 5;
        text-transform: uppercase;
        letter-spacing: 38px;
        height: auto;
        width: auto;
        color: rgb(255, 255, 255);
        text-decoration: none;
        white-space: nowrap;
        min-height: 0px;
        min-width: 0px;
        max-height: none;
        max-width: none;
        text-align: inherit;
        line-height: 46px;
        font-weight: 300;
        font-size: 36px;
        backdrop-filter: none;
        filter: none;
        transform-origin: 50% 50%;
        transform: translate(0px, 0px);
        opacity: 1;
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 47vh;
        font-family: Lato;
    }
    .main .item .social_icon {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 38vh;
        margin-left: 60px;
    }
    .main .item .social_icon a{
        color: white;
        font-size: 13px;
        transition: .2s ease-in-out;
    }
    .main .item .social_icon a:hover{
        opacity: 0.5;
    }
  



    @media (max-width: 575.98px){
        .main .item h1{
            font-size: 28px;
            letter-spacing: 10px;
            
        }
        
    }
    @media (max-width: 767.98px){
        .main .item h1{
            font-size: 32px;
            letter-spacing: 10px;
            
        }
        
    }
    @media (max-width: 991px){
        .navbar ul{
            width: 50%;
            align-items: center;
            background-color: #4c4c4c;
            padding-top: 20px;
            padding-bottom: 20px;
            border-radius: 20px;
        }
    }